# Ignore node_modules in all subdirectories
**/node_modules/

# Ignore .env files in all subdirectories
**/.env

# Ignore log files
*.log
**/*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore node_modules in all subdirectories
**/dist/
